<!DOCTYPE html>
<html>
    <head>
        <title>Book Catalogue</title>
        <link rel="stylesheet" href="https://mvc-maverick.tiiny.site/css/admin_access_requests.css">
    </head>
    <body>
        <div class="header1">
            <h1>Manage Admin Access Requests</h1>
            <form action="/admin">
                <button type="submit">Admin Options</button>
            </form>
        </div>
        {{if ne .Message ""}}
            <p>{{.Message}}</p>
        {{end}}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{if eq (len .Requests) 0}}
                        <tr>
                            <td colspan="2">There are no pending requests</td>
                        </tr>
                    {{else}}
                        {{range .Requests}}
                            <tr>
                                <td>{{.Username}}</td>
                                <td>
                                    <div class="buttons">
                                        <form action="/admin/access/approve" method="post">
                                            <input type="hidden" name="username" value="{{.Username}}">
                                            <button type="submit">Approve</button>
                                        </form>
                                        <form action="/admin/access/deny" method="post">
                                            <input type="hidden" name="username" value="{{.Username}}">
                                            <button type="submit">Deny</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </body>
</html>
