<!DOCTYPE html>
<html>
    <head>
        <title>Admin Portal</title>
        <link rel="stylesheet" href="https://mvc-maverick.tiiny.site/css/admin_home.css">
    </head>
    <body>
        <h1>Welcome to the Admin Portal</h1>
        <p>Hello, {{.Username}}! Here are some options for you:</p>
        <ul>
            <li>
                <form action="/admin/books" method="get">
                    <button type="submit">Manage book catalogue</button>
                </form>
            </li>
            <li>
                <form action="/admin/requests" method="get">
                    <button type="submit">Manage book requests</button>
                </form>
            </li>
            <li>
                <form action="/admin/access" method="get">
                    <button type="submit">Review admin access requests</button>
                </form>
            </li>
            <li>
                <form action="/user" method="get">
                    <button type="submit">Go back to home</button>
                </form>
            </li>
            <li>
                <form action="/logout" method="post">
                    <button type="submit" class="logout">Logout</button>
                </form>
            </li>
        </ul>
        <p class="message">{{if .message}}{{.message}}{{end}}</p>
    </body>
</html>
