<!DOCTYPE html>
<html>
    <head>
        <title>Book Catalogue</title>
        <link rel="stylesheet" type="text/css" href="https://mvc-maverick.tiiny.site/css/book_catalogue.css">
    </head>
    <body>
        <div class="header1">
            <h1>Books Catalogue</h1>
            <form action="/admin">
                <button type="submit">Admin Options</button>
            </form>
        </div>
        {{if ne .Message ""}}
        <p>{{.Message}}</p>
        {{end}}
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search for books by title...">
            <button type="button" id="searchButton">Search</button>
        </div>
        <div class="search-bar">
            <form action="/admin/add" method="POST">
                <input type="text" name="title" placeholder="Enter book title">
                <input type="text" name="author" placeholder="Enter book author">
                <input type="text" name="publisher" placeholder="Enter book publisher">
                <input type="text" name="quantity" placeholder="Enter book quantity">
                <button type="submit">Add Book</button>
            </form>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="header">Book Title</th>
                        <th class="header">Author</th>
                        <th class="header">Publisher</th>
                        <th class="header">Remove</th>
                        <th class="header">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Books}}
                    <tr>
                        <td class="book-title">{{.Name}}</td>
                        <td class="book-author">{{.Author}}</td>
                        <td class="book-publisher">{{.Publisher}}</td>
                        <td>
                            <form action="/admin/remove" method="POST">
                                <input type="hidden" name="title" value="{{.Name}}">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                        <td>
                            <form action="/admin/update" method="POST">
                                <input type="hidden" name="title" value="{{.Name}}">
                                <input type="hidden" name="author" value="{{.Author}}">
                                <input type="hidden" name="publisher" value="{{.Publisher}}">
                                
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <script>
            document.getElementById('searchButton').addEventListener('click', function() {
                console.log("yes");
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("searchInput");
                filter = input.value.toUpperCase();
                table = document.getElementsByTagName("table")[0];
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }
            });
        </script>
    </body>
</html>
