<!doctype html>
<html>
    <head>
        <title>Library Portal</title>
        <link rel="stylesheet" type="text/css" href="https://mvc-maverick.tiiny.site/css/index.css">
    </head>
    <body>
        <h1>Welcome to the Library Management System</h1>
        <p>Please select an option:</p>
        <ul>
            <li>
                <form action="/login" method="GET">
                    <button type="submit">Login</button>
                </form>
            </li>
            <li>
                <form action="/register" method="GET">
                    <button type="submit">Register</button>
                </form>
            </li>
        </ul>
    </body>
</html>