<!DOCTYPE html>
<html>
<head>
    <title>Issue Confirmation</title>
    <link rel="stylesheet" type="text/css" href="css/issue_book.css">
</head>
<body>
    <h1>Issue Confirmation</h1>
    <div class="book-details">
        <h2>Book Details</h2>
        <p>Book Name: {{.Book.Name}}</p>
        <p>Publisher: {{.Book.Publisher}}</p>
        <p>Author: {{.Book.Author}}</p>
    </div>
    <form action="/user/issue_confirm" method="POST">
        <input type="hidden" name="title" value="{{.Book.Name}}">
        <input type="hidden" name="author" value="{{.Book.Author}}">
        <input type="hidden" name="publisher" value="{{.Book.Publisher}}">
        {{if .Show_button}}
        <button class="confirm-button" type="submit" style="display:flex">Confirm Issue Request</button>
        {{end}}
    </form>
    {{if ne .Message ""}}
    <p class="bottom">{{.Message}}</p>
    {{end}}
    <button class="confirm-button" type="button" onclick="window.location.href='/user'">Go to Home</button>
</body>
</html>
