<!doctype html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit" value="Login">
        </form>

        {{ if .Text }}
        <p>{{ .Text }}</p>
        {{ end }}
        <br>
        <form action="/register" method="GET">
            <input type="submit" value="New? Register now!">
        </form>
        <form action="/" method="GET">
            <input type="submit" value="Go back to home">
        </form>
    </body>
</html>
