<!DOCTYPE html>
<html>
    <head>
        <title>Book Requests</title>
        <link rel="stylesheet" type="text/css" href="css/manage_book_requests.css">
    </head>
    <body>
        <div class="header1">
            <h1>Manage Book Requests</h1>
            <form action="/admin">
                <button type="submit">Admin Options</button>
            </form>
        </div>
        {{if ne .Message ""}}
        <p>{{.Message}}</p>
        {{end}}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="header">Username</th>
                        <th class="header">Title</th>
                        <th class="header">Type</th>
                        <th class="header">Fine</th>
                        <th class="header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{if eq (len .Requests) 0}}
                        <tr>
                            <td colspan="5">There are no pending requests</td>
                        </tr>
                    {{else}}
                        {{range .Requests}}
                            <tr>
                                <td>{{.Username}}</td>
                                <td>{{.Name}}</td>
                                <td>{{.Type}}</td>
                                <td>₹{{.Fine}}</td>
                                <td>
                                    <div class="buttons">
                                        <form action="/admin/requests/approve" method="post">
                                            <input type="hidden" name="id" value="{{.Id}}">
                                            <button type="submit">Approve</button>
                                        </form>
                                        <form action="/admin/requests/deny" method="post">
                                            <input type="hidden" name="id" value="{{.Id}}">
                                            <button type="submit">Deny</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </body>
</html>
