<!DOCTYPE html>
<html>
    <head>
        <title>Update book</title>
        <link rel="stylesheet" type="text/css" href="css/update_book.css">
    </head>
    <body>
        <h1>Update book details</h1>
        <div class="book-details">
            <h2>Current book Details</h2>
            <p>Book Name: {{.Book.Name}}</p>
            <p>Publisher: {{.Book.Publisher}}</p>
            <p>Author: {{.Book.Author}}</p>
        </div>
        <div class="add">
            <form action="/admin/update_confirm" method="POST">
                <input type="hidden" name="old_title" value="{{.Book.Name}}">
                <input type="hidden" name="old_author" value="{{.Book.Author}}">
                <input type="hidden" name="old_publisher" value="{{.Book.Publisher}}">
                <input type="text" name="title" placeholder="Enter book title">
                <input type="text" name="author" placeholder="Enter book author">
                <input type="text" name="publisher" placeholder="Enter book publisher">
                <button type="submit" class="add, confirm-button">Update Book</button>
            </form>
        </div>
        {{if ne .Message ""}}
        <p class="bottom" style="display: block">{{.Message}}</p>
        {{end}}
        <button class="confirm-button" type="button" onclick="window.location.href='/admin/books'">Go back to books</button>
    </body>
</html>