{{ define "update_password.html" }}
<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
    <link rel="stylesheet" type="text/css" href="css/update_password.css">
</head>
<body>
    <h1>Update Password</h1>
    <form action="/update_password" method="POST">
        <label for="current-password">Current Password:</label>
        <input type="password" id="current-password" name="currentPassword">
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="newPassword">
        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirmPassword">
        <button type="submit">Update</button>
        <button type="button" class="button" onclick="window.location.href='/user'">Go to Home</button>
    </form>
    {{if ne .Text ""}}
    <p class="bottom" style="display: block">{{.Text}}</p>
    {{end}}
</body>
</html>
{{ end }}