<!DOCTYPE html>
<html>
  <head>
    <title>User Portal</title>
    <link rel="stylesheet" type="text/css" href="css/user_home.css">
  </head>
  <body>
    <h1>Welcome to the Library Management Portal</h1>
    <p>Hello, {{.Username}}! Here are some options for you:</p>
    <ul>
      <li>
        <form action="/user/browse" method="get">
          <button type="submit">Browse Books</button>
        </form>
      </li>
      <li>
        <form action="/user/my_books" method="get">
          <button type="submit">My Books and history</button>
        </form>
      </li>
      <li>
        <form action="/update_password" method="get">
          <button type="submit">Update password</button>
        </form>
      </li>
      {{if not .IsAdmin}}
      <li>
        <form action="/request_admin" method="post">
          <button type="submit">Request admin access</button>
        </form>
      </li>
      {{end}}
      {{if .IsAdmin}}
      <li>
        <form action="/admin" method="get">
          <button type="submit">Admin Options</button>
          </form>
      </li>
      {{end}}
      <li>
        <form action="/logout" method="post">
          <button type="submit" class="logout">Logout</button>
        </form>
      </li>
    </ul>
    <p>{{if .Message}}{{.Message}}{{end}}</p>
  </body>
</html>