<!DOCTYPE html>
<html>
<head>
    <title>User Book View</title>
    <link rel="stylesheet" type="text/css" href="css/view_books_user.css">
</head>
<body>
    <div class="header">
        <h1>User Book View</h1>
        <form action="/user">
            <button type="submit">Back to Home</button>
        </form>
    </div>
    {{if ne .Message ""}}
    <p id="bottom" style="display: block">{{ .Message }}</p>
    {{end}}
    <h2>Current Books</h2>
    <div class="book-list">
        <table>
            <thead>
                <tr>
                    <th class="list-header">ID</th>
                    <th class="list-header">Title</th>
                    <th class="list-header">Author</th>
                    <th class="list-header">Issue Date</th>
                    <th class="list-header">Last Date to Return</th>
                    <th class="list-header">Fine</th>
                    <th class="list-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ if eq (len .CurrentlyIssuedBooks) 0 }}
                    <tr>
                        <td colspan="7">No book is issued</td>
                    </tr>
                {{ else }}
                    {{ range $book := .CurrentlyIssuedBooks }}
                        <tr class="book-item">
                            <td>{{ $book.Id }}</td>
                            <td>{{ $book.Name }}</td>
                            <td>{{ $book.Author }}</td>
                            <td>{{ $book.IssueDate }}</td>
                            <td>{{ $book.ReturnDate }}</td>
                            <td>₹{{$book.Fine}}</td>
                            <td>
                                <form action="/user/return" method="POST">
                                    <input type="hidden" name="id" value="{{ $book.Id }}">
                                    <input type="hidden" name="title" value="{{ $book.Name }}">
                                    <button type="submit">Return</button>
                                </form>
                            </td>
                        </tr>
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
    <h2>Pending approvals</h2>
    <div class="book-list">
        <table>
            <thead>
                <tr>
                    <th class="list-header">Title</th>
                    <th class="list-header">Author</th>
                    <th class="list-header">Type</th>
                </tr>
            </thead>
            <tbody>
                {{ if eq (len .PendingApprovals) 0 }}
                    <tr>
                        <td colspan="3">No approval is pending</td>
                    </tr>
                {{ else }}
                    {{ range $book := .PendingApprovals }}
                        <tr class="book-item">
                            <td>{{ $book.Name }}</td>
                            <td>{{ $book.Author }}</td>
                            <td>{{ $book.Type }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
    <h2>Book History</h2>
    <div class="book-list">
        <table>
            <thead>
                <tr>
                    <th class="list-header">ID</th>
                    <th class="list-header">Title</th>
                    <th class="list-header">Author</th>
                    <th class="list-header">Issue Date</th>
                    <th class="list-header">Return Date</th>
                </tr>
            </thead>
            <tbody>
                {{ if eq (len .PrevTransactions) 0 }}
                    <tr>
                        <td colspan="5">You have no book history</td>
                    </tr>
                {{ else }}
                    {{ range $book := .PrevTransactions }}
                        <tr class="book-item">
                            <td>{{ $book.Id }}</td>
                            <td>{{ $book.Name }}</td>
                            <td>{{ $book.Author }}</td>
                            <td>{{ $book.IssueDate }}</td>
                            <td>{{ $book.ReturnDate }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
</html>
